{% extends 'layout.html' %}

{% block body %}
  <html  xml:lang="en" lang="en">
    <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
    <body>    
        <form action="" class="register" method="POST">
            <fieldset class="row1">
                <legend>Aadhar Details
                </legend>
                <p>
                    <label>Adhar no. *
                    </label>
                    <input type="text" name="adhar"/>
                    
                </p>
                
            </fieldset>
            <fieldset class="row2">
                <legend>Personal Details
                </legend>
                <p>       
                    <label>Name *
                    </label>
                    <input type="text" name="name" class="long"/>
                </p>
                <p>
                    <label>Phone *
                    </label>
                    <input type="text" name="phone" maxlength="10"/>
                </p>
                <p>
                    <label class="optional">Street
                    </label>
                    <input type="text" name="street" class="long"/>
                </p>
                <p>
                    <label>City *
                    </label>
                    <input type="text" name="city" class="long"/>
                </p>
                <p>
                    <label>State *
                    </label>
                    <input type="text" name="state" class="long"/>
                </p>
                <p>
                    <label>Country *
                    </label>
                    <select>
                        <option>
                        </option>
                        <option value="1">India
                        </option>
                    </select>
                </p>
                
            </fieldset>
            <fieldset class="row3">
                <legend>Further Information
                </legend>
                <p>
                    <label>Gender *</label>
                    <input type="radio" name="gender" id="Male" value="Male"/>
                    <label class="gender">Male</label>
                    <input type="radio" name="gender" id="Female" value="Female"/>
                    <label class="gender">Female</label>
                </p>
                <p>
                    <label>Birthdate *
                    </label>
                    <input type="text" name="birthdate" placeholder="DD/MM/YYYY">
                </p>
                <p>
                    <label>Nationality *
                    </label>
                    <select>
                        <option value="0">
                        </option>
                        <option value="1">Indian
                        </option>
                    </select>
                </p>
           <!--     
          <div class="infobox"><h4>Image upload</h4>
                    <form action="upload.php" method="post" enctype="multipart/form-data">
        select image from ur directory:
        <input type="file" name="file" >
        <button type="submit"  name="submit">UPLOAD</button>
    
                </div>
                //-->
            </fieldset>
            <fieldset class="row4">
                <legend>Terms and Mailing
                </legend>
                <p class="agreement">
                    <input type="checkbox" value=""/>
                    <label>*  I accept the <a href="#">Terms and Conditions</a></label>
                </p>
                <p class="agreement">
                    <input type="checkbox" value=""/>
                    <label>I want to share my details by your site</label>
                </p>
            </fieldset>
            <div><button class="button">Register &raquo;</button></div>
        </form>
    
    </body>
</html>

  
  
{% endblock %}

